.preloader {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
}
.preloader:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid rgb(14, 3, 51);
  border-color: rgb(14, 3, 51) transparent rgb(14, 3, 51) transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

