@import url(./vendor/fonts/fonts.css);


body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --SIDEBAR-WIDTH: 250px;
}


@media screen and (max-width: 1024px) {
  body {
    --SIDEBAR-WIDTH: 175px;
  }
}
